<!--body -->

<!-- css to this page -->
<link rel="stylesheet" href="/css/prescriptionParser.css">

<div>
	<div id="drop-zone">

		<p>Drag & drop files here, or click to browse / open camera</p>


		<!-- The accept and capture attributes prompt mobile browsers to offer the camera -->

		<input type="file" id="file-input" accept="image/*" capture="environment" hidden multiple>

	</div>

	<h3>Selected Files:</h3>

	<ul id="file-list"></ul>
</div>

<button type="button" id="txtfyButton">Textify</button>
<p>Do not have Google AI Studio API key?Follow the instructions:</p>
<p>
	<ul>
		<li>Click Create API key.</li>
		<li>Choose a project or create a new one.</li>
		<li>Copy the generated key and save it for future use</li>
		<li>Paste it back into this website's settings input.</li>
	</ul>
</p>
<p>Now <a href="https://aistudio.google.com/app/apikey">create one</a>&nbsp;quickly</p>


<button id="loginBtn">1. Login & Get Token</button>
<button id="callFuncBtn" disabled>2. Call Cloud Function</button>

<h3>Analysis Result:</h3>
<div id="output">Upload an image and click "Parse Image" to see results.</div>

<!-- Interactive Layer Orchestration Logic Scripts -->
<script type="text/javascript" src="/js/prescriptionParser.js"></script>