<!--body -->

<!-- css to this page -->
<link rel="stylesheet" href="/css/prescriptionParser.css">

<div>
	<div id="drop-zone">

		<p>Drag & drop files here, or click to browse / open camera</p>


		<!-- The accept and capture attributes prompt mobile browsers to offer the camera -->

		<input type="file" id="file-input" accept="image/*" capture="environment" hidden multiple>

	</div>

	<h3>Selected Files (one prescription at a time, front and back, max 2 images):</h3>

	<ul id="file-list"></ul>
</div>

<button type="button" id="txtfyButton">Textify</button>

<hr>

<h3>Analysis Result:</h3>
<div id="output">Upload an image and click "Parse Image" to see results.</div>

<!-- Interactive Layer Orchestration Logic Scripts -->
<script type="text/javascript" src="/js/prescriptionParser.js"></script>